  <div class="w-100 w-md-80 m-auto position-relative">
      {% include picture.html image=include.proyect.image %}
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <a href="{{ include.proyect.url }}">
      <p class="f-18 mb-2 mt-2 black p-2 font-weight-bold">
        ~{{ include.proyect.title }} - {{ include.proyect.author }}
      </p>
    </a>
    <a href="{{ include.proyect.pdf_read }}">{{ site.i18n.pdf_read }}</a>
    <a href="{{ include.proyect.pdf_cover }}">{{ site.i18n.pdf_cover }}</a>
    <a href="{{ include.proyect.pdf_imposition }}">{{ site.i18n.pdf_imposition }}</a>
    <a href="{{ include.proyect.url }}">{{ site.i18n.read_now }}</a>
  </div>
