---
layout: default
permalink: /404.html
---

<div class="d-flex align-items-center justify-content-center">
  <div class="col-11 col-md-6 m-auto">
    <h1>oh no!, algo se perdió.</h1>
    <h3>pero trancu, seguro lo podes encontrar de nuevo desde el inicio de la página principalmente en /proyectos <3</h3>
  </div>
</div>
