---
# Jekyll page that redirects to a random page, post or document
# https://github.com/jekylltools/jekyll-random-redirect
# v1.6
title: Random
layout: none
permalink: /random/
---
{%- assign docs = site.posts | where: 'layout', 'post' -%}
{%- if site.random_redirect.pages == true -%}
  {%- assign pages = site.html_pages | where_exp:"page","page.url != '/random/'" -%}
  {%- assign docs = docs | concat: pages -%}
{%- endif -%}
{%- if site.random_redirect.documents == true -%}
  {%- assign docs = docs | concat: site.documents | uniq -%}
{%- endif -%}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!--[if lt IE 9]><script type="text/javascript">var IE_fix=true;</script><![endif]-->
    <script type="text/javascript">
      var urls=[];
      {% for doc in docs -%}
      urls.push("{{ doc.url | absolute_url }}");
      {% endfor -%}
      var url = urls[Math.floor(Math.random()*urls.length)];
      var link = document.createElement('link');
      link.setAttribute('rel', 'canonical');
      link.setAttribute('href', url);
      document.head.appendChild(link);
      if (typeof IE_fix != "undefined") {
        document.write("Redirecting...");
        var referLink = document.createElement("a");
        referLink.href = url;
        document.body.appendChild(referLink);
        referLink.click();
      } else {
        window.location.replace(url);
      }
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    <noscript>JavaScript is required to load a random page for you.<br>
      Please enable JavaScript, then refresh this page.<br><br>
      <a href="{{ site.url }}">Go back home...</a>
    </noscript>
  </body>
</html>
