<footer data-turbo-permanent class="mt-2 position-fixed background-white bottom-0 left-0 w-100 border-top border-black">
  <div class="row no-gutters m-0 align-items-center justify-content-center">
    <div class="col-md-6 degrade d-none d-md-block p-2 order-md-0 order-1">
      <div class="row no-gutters pl-2 m-0 justify-content-center justify-content-md-between align-items-center">
        <div class="">
          <div class="f-14">
            <p><a class="black" href="mailto:librenauta@riseup.net">{{ site.i18n.credits | markdownify }}</a></p>
          </div>
        </div>
        {%- assign x = site.posts | find: 'layout', 'audio' -%}
        <audio
          id="track"
          hidden
          autobuffer=""
          loop="true"
          autoplay="false"
          preload="auto"
          src="{{ x.audio.path }}">
        </audio>
        <script>
        var x = document.getElementById("track");

        function playAudio() {
          x.play();
        }

        function pauseAudio() {
          x.pause();
        }
        function upVolume() {
            if (x.volume < 1)
            {
                x.volume += 0.1;
            }

        }
        function downVolume() {
            if (x.volume > 0)
            {
                x.volume -= 0.1;
            }
        }

        var played = false;
        var tillPlayed = getCookie('timePlayed');
        function update()
        {
            if(!played){
                if(tillPlayed){
                x.currentTime = tillPlayed;
                x.play();
                played = true;
                }
                else {
                        x.play();
                        played = true;
                }
            }

            else {
            setCookie('timePlayed', x.currentTime);
            }
        }
        setInterval(update,1);
        </script>
        <div class="d-flex flex-row">
          <button onclick="playAudio()" type="button"class="border-0 background-transparent">
            <i class="fa fa-fw fa-play body_grey hover-primary"></i>
          </button>
          <button onclick="pauseAudio()" type="button" class="border-0 mr-1 background-transparent">
            <i class="fa fa-pause black hover-primary"></i>
          </button>
          <button onclick="downVolume()" type="button" class="border-0 mr-1 background-transparent">
            <i class="fa fa-volume-down black hover-primary"></i>
          </button>
          <button onclick="upVolume()" type="button" class="border-0 mr-1 background-transparent">
            <i class="fa fa-volume-up black hover-primary"></i>
          </button>
          <div class="">
            <p>|</p>
          </div>
          <div class="mr-1 ml-1">
            <p>{{ x.title }}</p>
          </div>
          <div class="primary mr-2">
            <p class="flip">~~ ~~</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 degrade p-2 order-md-1 order-0">
      <a class="black hover-primary text-decoration-none" href="#">
        <div class="d-flex align-items-center justify-content-center">
            <p class="f-12 font-italic purple">~/cyber bunker biteario ∩｀-´)⊃━☆ﾟ.*･｡ﾟ*.-'</p>
        </div>
      </a>
    </div>
  </div>
</footer>
