{%- comment -%}
Empezamos con los ítems que no dependen de otros e implementamos
recursivamente.
{%- endcomment -%}

<header class="position-fixed z-index-1000 w-100 cursor-pointer background-white">
  <div class="row p-2 no-gutters d-line align-items-center justify-content-md-between justify-content-center border-bottom border-black ">
      <div class="f-16 p-2 text-center" style="width: 8rem;">
        <a class="black" href="/"><p>Copiona.com</p></a>
      </div>
    <div class="background-primary f-12px flex-grow-1 d-none d-md-block text-nowrap overflow-auto ">
      <p class="p-2 degrade">
        <a
        href=""
        class="typewrite white overflow-hidden"
        data-period="2000"
        data-type='[
        "__/_//¯¯¯¯¯/__-__/_//¯¯¯ ___///¯¯//_-/ /__/¯¯",
        "V̶O̵R̴Á̸G̵I̷N̴E̵",
        "ya les dije que mirar de cerca para el tiempo, no?",
        "a esto llamo: sostener las cosas que amo.",
        "~ a veces yo: El internet no es un mensaje, es un intercambio de besos entre dispositivos",
        "Empujadas a la distorsión cognitiva, estar en la vorágine representa el estadío de multipensar en el mundo",
        "y no tener el cuerpo para responder al estado de alerta con la suficiente velocidad",
        "No se dejen engañar, otro futuro es posible",
        "ftp://1.3.1.2",
        "Toda interfaz es política",
        "en defensa de una internet fungible",
        "juntarnos para reencontrarnos, ya estamos unidas en internet",
        "I´m digital artist but do not nftees our internet!",
        "copiar no es robar","-__¯//_-/_/-/¯¯__/_//¯¯¯/_/¯¯-__ /¯_/¯___/¯¯-___/-/¯¯/¯_/¯___/¯¯-__ _" ]'>
          <span class="p-2"></span>
        </a>
      </p>
    </div>
    <div class="f-16">
        <div class="text-center p-2 ml-auto" style="width: 8rem;">
          <a class="black hover-primary" href="/random/"><p class="">{{ site.i18n.random }}</p></a>
        </div>
    </div>
  </div>
    {% include_cached menu.html  %}
</header>
<script type="text/javascript">
  var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 150 - Math.random() * 100;

        if (this.isDeleting) { delta /= 20; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { black p-2}";
        document.body.appendChild(css);
    };
</script>
