{%- comment -%}
Empezamos con los ítems que no dependen de otros e implementamos
recursivamente.
{%- endcomment -%}
{%- assign items = site.posts | where: 'layout', 'menu' | where: 'item', nil -%}

<nav class="d-none d-md-block border-bottom border-black">
  <div class="position-relative">
    <div class="d-flex align-items-center justify-content-start position-relative">
      {% for item in items %}
        {%- include_cached item.html
              item=item
              css="black hover-black degrade"
          -%}
      {% endfor %}
      <a class="mx-1 black degrade" href='https://endefensadelsl.org/ppl_deed_es.html' target='_blank'> /ppl</a>
      <a style="width: 20px;" class="stroke-black hover-stroke-primary ml-3 degrade" href='https://webring.xxiivv.com/#random' target='_blank'>{% include svg/webring-black.svg %}</a>
      <a id='button1' class="degradesktop mx-3" onclick="changeColor()">{% include svg/b-degrade.svg %}</a>
    </div>
    <div>
      
    </div>
  </div>
</nav>
<nav class="d-block d-md-none border-bottom border-black">
  <div class="d-flex align-items-center justify-content-center">
    {% assign menu-id = page.uuid | prepend: 'r-' %}
    {%- capture circle -%}
      <i class="fa fa-circle p-2"></i>
    {%- endcapture -%}
    {% include toggler_label.html id=menu-id  class='stroke-white' content=circle %}
    <div class="">
      {% include toggler.html id=menu-id %}
      <div class="toggled position-absolute top-0 left-0 vh-100 w-100 z-index-2050 background-black">
        <div class="h-100 d-flex align-items-center justify-content-center ">
          <div class="w-90">
            <div class="row m-0 no-gutters justify-content-center fill-primary">
              {%- capture circle-o -%}
                <i class="white fa fa-circle-o p-2"></i>
              {%- endcapture -%}
                {% include toggler_label.html class='stroke-white' id=menu-id content=circle-o %}
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
              {% for item in items %}
                {%- include item.html item=item css="white hover-primary" -%}
              {% endfor %}
              <a style="width: 20px;" class="stroke-white hover-stroke-primary" href='https://webring.xxiivv.com/#random' target='_blank'>{% include_cached svg/webring-black.svg %}</a>
              <a id='button1' class="degradesktop mx-3" text="cambio de color fondo" onclick="changeColor()">{% include svg/b-degrade.svg %}</a>
            </div>
            <div class="degrade p-2">
              <p class="white">mail~me <a href="mailto:librenauta@riseup.net">librenauta[at]riseup.net</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
