
<div class="d-flex align-items-center justify-content-center">
  <div class="position-relative d-flex justify-content-center align-items-center animation-nube">
      {% include_cached svg/nube.svg %}
      <div class="position-absolute p-3 d-flex align-items-center justify-content-center">
        <div class="text-center d-flex align-items-center justify-content-center cursor-pointer">
            {%- capture cuadrado -%}
            <div class="fill-secondary hover-fill-primary">
              {% include svg/cuadrado.svg %}
            </div>
            {%- endcapture -%}
          {% assign txt-id = include.txt.uuid | prepend: 'r-' %}
          {% include toggler_label.html id=txt-id content=cuadrado %}
        </div>
      </div>
  </div>
</div>
<div class="">
    {% include toggler.html id=txt-id %}
  <div class="toggled position-absolute row m-0 no-gutters w-100 bottom-0 left-15 z-index-1000">
    <div class="background-secondary f-14 p-4">
      <div class="row m-0 no-gutters justify-content-end fill-primary">
        {%- capture x_svg -%}
          {% include_cached svg/x.svg %}
        {%- endcapture -%}
        {% include toggler_label.html id=txt-id content=x_svg %}
      </div>
      <div class="">
        <p class="font-weight-bold mb-1 "> {{ include.txt.title }} | {{ include.txt.date | date_to_string }}</p>
        <p class="pt-1 pb-1">{{ include.txt.content }}</p>
        <p><a href="{{ include.txt.url}}">{{ site.i18n.home.nube.link }}</a></p>
      </div>
    </div>
  </div>
</div>
