
<div class="d-flex align-items-center justify-content-start">
  <div class="position-relative d-flex justify-content-center align-items-center">
    {%- assign txts = site.posts | where: 'layout', 'txt' -%}
    {% for txt in txts offset: 0 limit: 1 %}
      {% include svg/nube.svg %}
      <div class="position-absolute p-3 d-flex align-items-center justify-content-center background-{{ include.background }}">
        <div class="text-center">
            {%- capture cuadrado -%}
              {% include svg/cuadrado.svg %}
            {%- endcapture -%}
          {% assign txt-id = txt.uuid | prepend: 'r-' %}
          {% include toggler_label.html id=txt-id content=cuadrado %}
        </div>
      </div>
  </div>
</div>
<div class="">
    {% include toggler.html id=txt-id %}
  <div class="toggled position-absolute row m-0 no-gutters w-100 bottom-0 left-15 z-index-1000">
    <div class="background-secondary f-14 p-4">
      <div class="row m-0 no-gutters justify-content-end fill-primary">
  {%- capture x_svg -%}
    {% include svg/x.svg %}
  {%- endcapture -%}
    {% include toggler_label.html id=txt-id content=x_svg %}
      </div>
      <div class="">
        <p class="font-weight-bold mb-1 "> {{ txt.title }} | {{ txt.date | date_to_string }}</p>
        <p class="pt-1 pb-1">{{ txt.content }}</p>
        <p><a href="{{ txt.url}}">{{ site.i18n.home.nube.link }}</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
