{% comment %}
Imágenes responsive.  Esto logra que solo se carguen las versiones de
las imágenes con el ancho máximo de la pantalla.

También tiene soporte para pantallas de alta densidad.

TODO: Las imágenes en md y superior nunca llegan al ancho máximo así
que tienen una resolución de más.
{% endcomment %}
{%- assign image = include.image.path | default: 'public/placeholder.png' %}
{%- assign height = include.height | default: site.i18n.post.height -%}
{%- assign width = include.width | default: '100' -%}

<picture>
  {% for size in site.images.sizes %}
    <source
      srcset="
        {%- for pixel_density in site.images.pixel_densities %}
          {%- assign w = size | times: pixel_density -%}
          {{- image | thumbnail: w | uri_escape }} {{ pixel_density }}x,
        {% endfor -%}
      "
      media="(max-width: {{ size }}px)" />
  {% endfor %}
  <img
    class="position-relative u-photo border border-1 border-black w-{{ width }} {{ include.cover | equals: false | value_unless: 'fit-cover' }} h-{{ height }} {{ include.extra }} "
    loading="lazy"
    itemprop="image"
    src="{{ image | thumbnail: 1140 }}"
    alt="{{ include.image.description | include.default_description }}" />
    {% comment %}
      btn descarga
    {% endcomment %}
    <div class="position-absolute bottom-0 right-0 z-index-1050">
      <div class="d-flex align-items-end justify-content-between">
        <a class="black hover-primary" href="{{ image }}" download>
          <div class="position-relative d-flex justify-content-center align-items-center">
              {% include svg/cuadrado.svg %}
              <div class="position-absolute embed-responsive embed-responsive-1by1 d-flex align-items-center justify-content-center">
                <object class="d-flex align-items-center justify-content-center embed-responsive-item">
                </object>
                <div class="text-center fill-primary hover-fill-secondary">
                  <p class="black hover-primary" href=""><i class="fa fa-heart-o"></i></p>
                </div>
              </div>
          </div>
        </a>
      </div>
    </div></picture>
