{% comment %}
  componentes para incorporar imagenes de una ruta especifica sin comprimirlas
  {% include picture_multiple.html folder=page.picture_multiple %}

  @param folder=picture_multiple
{% endcomment %}

{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' or file.extname == '.png' %}
    {% assign filenameparts = file.path | split: "/" %}
    {% assign filename = filenameparts | last | replace: file.extname,"" %}
    {% assign file = {{ file.path | relative_url }} %}
    <div class="position-relative">
      <img
        class="position-relative u-photo border border-1 border-black w-{{ width }} {{ include.cover | equals: false | value_unless: 'fit-cover' }} h-{{ height }} {{ include.extra }} "
        loading="lazy"
        itemprop="image"
        src="{{ file.path }}"
        alt="{{ include.image.description | include.default_description }}" />
        {% comment %}
          btn descarga
        {% endcomment %}
        <div class="position-absolute bottom-0 right-0 z-index-1050">
          <div class="d-flex align-items-end justify-content-between">
            <a class="black hover-primary" href="{{ file.path }}" download>
              <div class="position-relative d-flex justify-content-center align-items-center">
                  {% include svg/cuadrado.svg %}
                  <div class="position-absolute embed-responsive embed-responsive-1by1 d-flex align-items-center justify-content-center">
                    <object class="d-flex align-items-center justify-content-center embed-responsive-item">
                    </object>
                    <div class="text-center fill-primary hover-fill-secondary">
                      <p class="black hover-primary" href=""><i class="fa fa-heart-o"></i></p>
                    </div>
                  </div>
              </div>
            </a>
          </div>
        </div>
     </div>
    {% endif %}
  {% endif %}
{% endfor %}
