<script src="public/js/hydra-synth.js"></script>
<canvas id="myCanvas" class="w-100" width="700px" height="500px"></canvas>
<script>
  var hydra = new Hydra({
    canvas: document.getElementById("myCanvas")
  })
osc(100,0.9,1.4)
  .mult(shape(3,0,0.3))
  .modulateScale(osc(3,0,0.1))
  .diff(shape(2,0.1).modulate(osc(3,0.6,9)))
  .modulate(o0,0.2)
  .colorama(2)
  .rotate(Math.PI/4).rotate(-0.69,-0,03)
  .color(255,30,20)
  .rotate(-0.1,0.09)
  .out()
   function colorlovers() {
       osc(10,0.1,-00050)
         .blend(o0,0.2)
         .modulate(shape(2).pixelate(200,20).rotate(1.8,0.1))
         .modulateScale(osc(15,(1*Math.sin(2*0.1))))
           .out()
   }
   function rot() {
       osc(3, 0.01, 1.3)
           .luma(0.6).color(0.75, 0.27, 0.8)
           .modulateRotate(noise(1,0.03),0.7)
         .modulateHue(osc(7,0.01,1.3),77)
         .modulateRotate(noise(1.8,0.04),0.84)
         .modulateHue(noise(2).diff(o0).modulateScale(o0,0.11).rotate(Math.PI),10)
         .modulateScale(noise(2).modulateRotate(o0,0.31).rotate(Math.PI),0.1)
         .mult(gradient(0.21),0.14)
         .hue(.8)
         .saturate(0.9)
         .modulate(noise(0.1,0.03),3.1)
           .out(o0)
   }
   function mar(){
         osc(10,0,200).add(voronoi(1, 0.8)).diff(src(o0).scale(1.9)).modulate(o0, 0.2).out(o0)
   }
   function flor(){
       voronoi(8,1)
       .mult(osc(10,0.1,()=>Math.sin(time)*3).saturate(3).kaleid(200))
       .modulate(o0,0.5)
       .add(o0,0.8)
       .scrollY(-0.01)
       .scale(0.99)
       .modulate(voronoi(8,1),0.008)
       .luma(0.3)
       .out()
   }
   function lluviahermosa(){osc(80,0,2)
  .modulatePixelate(noise(10,0)
  .pixelate(2,160),24,6)
  .scrollX(1,0.05)
  .rotate(-2)
  .modulate(o0,0.03)
  .blend(o0)
  .out()
   }
</script>


<button class="btn degrade border-1 border-primary m-1" onclick="colorlovers()">colorlovers</button> | <button class="btn degrade border-1 border-primary m-1" onclick="rot()">rott</button> |
<button class="btn degrade border-1 border-primary m-1" onclick="mar()"> mar_de_bits</button> | <button class="btn degrade border-1 border-primary m-1" onclick="flor()">Glitch River by flordefuego <3</button> | <button class="btn degrade border-1 border-primary m-1" onclick="lluviahermosa()">lluvia hermosa</button>
