// https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto/v27/KFOkCnqEu92Fr1Mu52xP-subset.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/roboto/v27/KFOjCnqEu92Fr1Mu51TzBhc9-subset.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto/v27/KFOmCnqEu92Fr1Me5Q-subset.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw-subset.woff2) format('woff2');
}
// https://fonts.googleapis.com/css2?family=Fira+Code:wght@300
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/firacode/v17/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_GNsFVc-subset.woff2) format('woff2');
}
// https://fonts.googleapis.com/css2?family=Fira+Code:wght@400
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/firacode/v17/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVc-subset.woff2) format('woff2');
}
// https://fonts.googleapis.com/css2?family=Fira+Code:wght@600
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/firacode/v17/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_ONrFVc-subset.woff2) format('woff2');
}
// https://fonts.googleapis.com/css2?family=Fira+Code:wght@700
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/firacode/v17/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprFVc-subset.woff2) format('woff2');
}
@font-face {
  font-family: 'OSMellySans-regular';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OSMellySans/OSMellySansv0.88-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'OSMellySans-irregular';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OSMellySans/OSMellySansv0.88-Irregular.woff2) format('woff2');
}