---
# Ponemos un frontmatter porque queremos que Jekyll procese este archivo
---

////
/// @group Principal
////

/// Traemos el primer artículo de tipo `theme` para obtener los valores
/// personalizados.

{% comment %}
  Los artículos con layout `theme` contienen variables utilizadas por
  Bootstrap que pueden ser redefinidas por les usuaries de Sutty a través
  del panel.
{% endcomment %}
{% assign theme = site.posts | find: 'layout', 'theme' %}
{% assign theme_defaults = site.data.layouts.theme %}
{% comment %}
  Ignorar estos campos que no son variables.
{% endcomment %}
{% assign ignored_keys = 'title,draft,order,last_modified_at,uuid,layout,liquid,usuaries' | split: ',' %}
{% comment %}
  Cada variable de Bootstrap viene desde la definición de `theme`.  Por
  convención usamos snake_case, pero Bootstrap usa guión medio, así que
  las convertimos.

  Utilizamos los valores que vengan del artículo y si no existen, usamos
  los valores por defecto de sutty-base.  De lo contrario mantenemos los
  de Bootstrap.
{% endcomment %}
{% for variable in theme_defaults %}
{% assign key = variable[0] %}
{% if ignored_keys contains key %}{% continue %}{% endif %}
{% assign default_value = variable[1].default[site.locale] %}
{% assign variable_name = key | replace: '_', '-' %}
{% comment %}
  Generamos una definición de variable de SASS
{% endcomment %}
${{ variable_name }}: {{ theme[key] | default: default_value }}{{ variable[1].unit }};
{% endfor %}

/// El modo debug se desactiva en producción
$debug: {{ jekyll.environment | not: 'production' }};
/// Los prefijos de navegadores para poder generar estilos que no están
/// estandarizados.
/// @link _sass/helpers.scss
$vendor-prefixes: ("", "-webkit-", "-ms-", "-o-", "-moz-");
/// Curva Bezier que acelera al principio y desacelera hacia el final,
/// para generar animaciones.
$bezier: cubic-bezier(0.75, 0, 0.25, 1);

/// Agregamos los colores propios de la plantilla aquí.  Bootstrap los
/// agrega a su propia paleta de colores.  Si usamos el mismo nombre
/// podemos redefinir el color.
///
/// Agregamos negro porque alguna gente no lo considera un color.
$colors: (
  "transparent": transparent,
  "black": black,
  "body_color": $body_color,
  "primary": $primary,
  "link_color": $link_color,
  "link_hover_color": $link_hover_color,
  "mark_bg": $mark_bg,
  "secondary": $secondary,
  "navbar_light_active_color": $navbar_light_active_color,
  "navbar_light_hover_color": $navbar_light_hover_color,
  "navbar_light_color": $navbar_light_color
);

/// Redefinir los colores de temas aquí, esto aplica a los elementos
/// `-primary`, `-secondary`, etc. de Bootstrap.  Por ejemplo para
/// generar un botón con otro color y sus sombras correspondientes, lo
/// agregamos acá.
$theme-colors: (
);

/// con estos spacers es posible hacer f-14 y tener una typo de 14px
$spacer: 1rem !default;
$spacers: (
  10: ($spacer * 0.625),
  12: ($spacer * 0.75),
  14: ($spacer * 0.875),
  16: ($spacer * 1),
  18: ($spacer * 1.125),
  20: ($spacer * 1.25),
  24: ($spacer * 1.5),
  28: ($spacer * 1.75),
  32: ($spacer * 2),
  48: ($spacer * 3),
  97: ($spacer * 6.063),
);

/// Tamaños (anchos y altos) redefinidos desde Bootstrap.
$sizes: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  50vh: 50vh,
  75vh: 75vh,
  100vh: 100vh,
  100vw: 100vw
);

/// Niveles de opacidad/transparencia
$opacities: (
  0: -100%,
  1: -80%,
  2: -60%,
  3: -40%,
  4: -20%,
  5: 0%
);

/// Resetear algunos margins y paddings por defecto a cero
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
$label-margin-bottom: 0;

///tipografías responsive
$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'OSMellySans-regular', normal;
/// $font-family-sans-serif: 'Fira Code', monospace;
/// Redefinir variables de Boostrap acá.  Se las puede ver en
/// node_modules/bootstrap/scss/_variables.scss
///
/// @todo Solo importar los archivos necesarios de bootstrap para
/// facilitar la reducción de CSS.  Por ahora pedimos todo para poder
/// empezar a trabajar en el HTML sin pensar en CSS.
@import "bootstrap/scss/bootstrap";
/// Íconos
@import "fork-awesome/scss/fork-awesome";
/// Nuestro propio SCSS
@import "accessibility";
@import "helpers";
@import "toggler";
@import "share_box";
@import "embed";
@import "snap";
@import "editor";
@import "menu";
@import "content";
@import "fonts";
@import "floating_alert";

/// La barra de progreso de Turbo tiene el color primario
/// de la paleta, definido por Bootstrap o por nosotres.
.turbo-progress-bar { background-color: $primary; }

.degrade:hover {
  background: linear-gradient(-45deg, red, orange, yellow, cyan, violet, pink);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.degradesktop {
  background: linear-gradient(-35deg, red, orange, yellow, cyan, violet, pink);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.flip {
  animation: flip-icon 0.5s ease-in-out infinite;
}

@keyframes flip-icon {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.z-index-1000{z-index: 1000;}
.z-index-1050{z-index: 1050;}
.z-index-2000{z-index: 2000;}
.z-index-2050{z-index: 2050;}

/// loader cool
/* un loader increíble, lineal clean*/
.pace {-webkit-pointer-events: none;pointer-events: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
.pace-inactive {display: none}
.pace .pace-progress {position: fixed;z-index: 2000;top: 0;right: 100%;width: 100%;height: 100vh}
.pace .pace-progress:after {position:absolute;top:0;right:0;height:100vh;content:'';border-left:2px solid; width:2px;}

code {
    height: auto !important;
    width: auto !important;
    background-color: #d1d1d1;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #d1d1d1;
/*    padding: 0.75rem;*/
    overflow-x: scroll !important;
}
sup{
  font-weight: bold;
  margin-left: 0.2rem;
}

img, video{
  width: 100% !important;
}

.leaflet-tile-loaded{
  width: 256px !important;
}

html{
  cursor:crosshair;
}
::selection {
 color:#000;
 background: pink;
 text-shadow:none
}
.bkd {
  flex: 1 1 auto;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 1px;
 }
/* <- Bkd Magic */
.bkd:hover {
  background-position: right center; /* change the direction of the change here */
}
.bkd-1 {
  background-image: linear-gradient(to right, blueviolet 0%, white 51%, blueviolet 100%);
}
/// animation nubes
.animation-nube {
  animation:
    nudge 25s linear infinite alternate;
}

blockquote{
  color: #666 !important;
  margin: 20px;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
}

a:hover {
  font-family: OSMellySans-irregular
}