  <div class="w-100 w-md-80 m-auto position-relative">
      {% include picture.html image=include.proyect.image %}
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <a href="{{ include.proyect.url }}">
      <p class="f-18 mb-2 mt-2 black p-2 font-weight-bold">
        ~{{ include.proyect.title }} ~{{ include.proyect.last_modified_at | date_local: date_format }}
      </p>
    </a>
    <p>{{ include.proyect.content }}</p>
  </div>
