---
layout: default
---

<section class="container pt-97 pb-5">
  {% include navegation.html page=page %}
  <div class="col">
    {% include editorial/cover-editorial.html proyect=page %}
  </div>
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.i18n.date.format | default: "%b %-d, %Y" -%}
    ~{{ page.date | date_local: date_format }}
  </time>
  <div class="row pt-2 pb-2 m-0 no-gutters align-items-center justify-content-center">
    <div class="col">
      {{ page.content | markdownify }}
    </div>
  </div>
</section>
