<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>
    <meta name="referrer" content="strict-origin-when-cross-origin"/>
    <link href="https://twitter.com/librenauta" rel="me">
    <link href="https://mastodon.social/@librenauta" rel="me">
    <link href="https://gitlab.com/librenauta" rel="me">

    {% comment %}
    No tenemos forma de hashear SASS aún, por lo que renovamos la caché
    aplicando la hora de compilación del sitio.  Es importante que los
    CSS se renueven cuando se regenera el sitio, porque pueden contener
    variables dinámicas (como personalización de colores y tipografía) o
    minificarse distinto dependiendo del contenido.
    {% endcomment %}
    <link href="assets/css/styles.css?{{ site.time | date: '%s' }}" rel="stylesheet">

    {% comment %}
    Webpack.  La configuración se pasa por variables de entorno, en
    desarrollo hay que evitar el archivo .env (copiarlo de .env.example
    si no existe.
    {% endcomment %}
    <link rel="preload" as="script" type="text/javascript" href="env.js" />
    <script type="text/javascript" src="env.js?{{ site.time | date: '%s' }}"></script>
    {% include_cached pack.html %}

    {% comment %}
    Agregar otras tipografías.  Esto hace que las tipografías se carguen
    lo más rápido posible y minimizar el tiempo en que se ven las del
    navegador.  En Firefox todavía no está soportado.

    Fork Awesome lleva la hora de generación para poder renovarlo si
    agregamos íconos nuevos, de lo contrario puede quedar cacheado para
    siempre y les visitantes van a ver íconos rotos.
    {% endcomment %}
    {% include_cached preload_font.html font='assets/fonts/forkawesome-webfont.woff2' %}

    <link rel="icon" type="image/svg+xml" href="public/favicon.svg">
    <link rel="alternate icon" href="public/favicon.ico">
    <link rel="mask-icon" href="public/favicon.svg" color="white">

    {% seo %}
    {% feed_meta %}

    <script>
        paceOptions = {
        elements: true
    };
    </script>
    <script type='text/javascript'>
      function changeColor(){
        var btn = document.getElementById("button1");
        btn.classList.toggle("degradesktop");
      }
    </script>
  <script  src="public/js/pace.js"></script>
  <script src="public/js/audio.js"></script>
  </head>
  <body id="button1">
    <div class="pace pace-inactive"><div class="pace-progress background-black black" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
    <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div></div>
    <div data-turbo-permanent>
      <a href="#content" data-turbo="false" class="sr-only sr-only-focusable">
        {{ site.i18n.accessibility.skip_to_content }}
      </a>

      {%- include_cached notification.html -%}

      {% comment %}
      Esta imagen obtiene una cookie desde la API de Sutty para autorizar el
      envío del formulario.
      {% endcomment %}
      <img class="d-none invisible" src="https://api.{{ site.hostname }}/v1/sites/{{ site.hostname }}/contact/cookie.png" />
    </div>

    <main class="position-relative" tabindex="-1" role="main"  data-controller="scroll stock" data-per-page="100">
      {% include_cached header.html  %}
        {{ content }}
        <div data-turbo-permanent>
          {% include_cached footer.html %}
        </div>
    </main>

    {% include_cached floating_alert.html %}
    {% assign theme = site.posts | find: 'layout', 'theme' %}
    {% if theme.testing == true %}
    <div data-turbo-permanent>
      {% include_cached device_detector.html %}
    </div>
    {% endif %}
  </body>
</html>
