---
layout: default
---
<section class="row pt-97 pb-32 h-100 no-gutters m-0 row align-items-center justify-content-center mx-2">
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        <picture>
          {%- assign image = include.image.path | default: 'public/home/que-lenguajes.jpg' %}
          {% for size in site.images.sizes %}
            <source srcset="{{ image | thumbnail: size }}" media="(max-width: {{ size }}px)" />
          {% endfor %}
          <img
            class="u-photo border border-1 border-black fit-cover w-100 m-auto"
            loading="lazy"
            itemprop="image"
            src="{{ image | thumbnail: 1140 }}" />
        </picture>
      </div>

      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-primary">
        <div class="p-2 f-12 f-md-16">
          <p>Arte Electrónico | 
            <a href="/que-lenguaje-hablan-las-cosas-del-mundo-lic/" target="_blank">¿Qué lenguajes hablan las cosas del mundo?</a>
          </p>
          <p>2023 | MAQ && Librenauta</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        {% include svg/internet-4.svg %}
      </div>
      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-secondary">
        <div class="p-2 f-12 f-md-16">
          <p><a href="" target="_blank"># process</a> | 2023  </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row pt-97 pb-32 h-100 no-gutters m-0 row align-items-center justify-content-center mx-2">
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        {% include svg/internet-es-una-poesia-sin-terminar.svg %}
      </div>
      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-secondary">
        <div class="p-2 f-12 f-md-16">
          <p><a href="./internet-es-una-poesía-sin-terminar/" target="_blank"># internet es una poesía sin term</a> | 2023 | ~/Riso </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        <picture>
          {%- assign image = include.image.path | default: 'public/home/libreu.jpg' %}
          {% for size in site.images.sizes %}
            <source srcset="{{ image | thumbnail: size }}" media="(max-width: {{ size }}px)" />
          {% endfor %}
          <img
            class="u-photo border border-1 border-black fit-cover w-100 m-auto"
            loading="lazy"
            itemprop="image"
            src="{{ image | thumbnail: 1140 }}" />
        </picture>
      </div>

      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-primary">
        <div class="p-2 f-12 f-md-16">
          <p>Viaje | EZE>MAD > VLC > BCN > BER > BRU > STN > VLC > MAD>EZE</p>
          <p>2023</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row pt-97 pb-32 h-100 no-gutters m-0 row align-items-center justify-content-center mx-2">
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        {% include svg/zinenauta-7.svg %}
      </div>
      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-secondary">
        <div class="p-2 f-12 f-md-16">
          <p><a href="https://zinenauta.copiona.com/Z7.html" target="_blank"># zinenauta #7</a> | 2022 | ~/diseño </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        <picture>
          {%- assign image = include.image.path | default: 'public/home/supersymmetry.png' %}
          {% for size in site.images.sizes %}
            <source srcset="{{ image | thumbnail: size }}" media="(max-width: {{ size }}px)" />
          {% endfor %}
          <img
            class="u-photo border border-1 border-black fit-cover w-100 m-auto"
            loading="lazy"
            itemprop="image"
            src="{{ image | thumbnail: 1140 }}" />
        </picture>
      </div>

      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-primary">
        <div class="p-2 f-12 f-md-16">
          <p>Supersymmetry | yrtemmysrepuS</p>
          <p>2022</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row h-100 no-gutters m-0 row align-items-center justify-content-center mx-2">
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        {% include svg/internet.svg %}
      </div>
      <div class="position-absolute bottom-0 left-0 w-100 w-md-40">
        {% include nube.html  %}
      </div>
      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-secondary">
        <div class="p-2 f-12 f-md-16">
          <p># vortex | 2022 | ~/vectorart</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        {% include svg/internet-2.svg %}
      </div>
      <div class="
        row
        position-absolute
        bottom-0
        right-0
        no-gutters
        m-0
        ml-3
        align-items-center
        justify-content-end
        background-white
        border
        border-primary
        border-1">
        <div class="p-2 f-12 f-md-16">
          <p># vectorart | 2022 | ~/experiment </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row pb-48 h-100 no-gutters m-0 row align-items-center justify-content-center mx-2">
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        {% include svg/internet-3.svg %}
      </div>
      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-secondary">
        <div class="p-2 f-12 f-md-16">
          <p><a href="https://zinenauta.copiona.com/Z6.html" target="_blank"># zinenauta #6</a> | 2022 | ~/diseño </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-6 position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
      <div class="w-100 w-md-80">
        <picture>
          {%- assign image = include.image.path | default: 'public/home/librenauta-new-site.jpg' %}
          {% for size in site.images.sizes %}
            <source srcset="{{ image | thumbnail: size }}" media="(max-width: {{ size }}px)" />
          {% endfor %}
          <img
            class="u-photo border border-1 border-black fit-cover w-100 m-auto"
            loading="lazy"
            itemprop="image"
            src="{{ image | thumbnail: 1140 }}" />
        </picture>
      </div>

      <div class="
      row
      position-absolute
      bottom-0
      right-0
      no-gutters
      m-0
      ml-3
      align-items-center
      justify-content-end
      background-white
      border
      border-primary">
        <div class="p-2 f-12 f-md-16">
          <p>Pocas lo saben pero me vestí con los colores de mi próxima página web de copiona</p>
          <p>aquí esta!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row pb-48 h-100 no-gutters m-0 row align-items-center justify-content-center mx-2">
  <div class="row m-0 row-cols-1 no-gutters align-items-center justify-content-center">
    {%- assign logs = site.posts | where: 'layout', 'log' -%}
    {% for l in logs %}
      {% for lo in l.proyects %}
        {% if forloop.last %}
        <p>último post de <a href="{{ l.url  }}">/log</a>
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.i18n.date.format | default: "%b %-d, %Y" -%}
            ~{{ lo.last_modified_at | date_local: date_format }}
          </time></p>
          {% include log/cover.html proyect=lo %}
        {% endif %}
      {%endfor%}
    {% endfor %}
  </div>
</section>
<section id="subscribe">
  <div class="row pb-48 h-100 no-gutters m-0 row align-items-center justify-content-center mx-5">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://copiona.us21.list-manage.com/subscribe/post?u=6cba476030b41957ed024d068&amp;id=70669dfffd&amp;f_id=00c2c9e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
          <div id="mc_embed_signup_scroll">
            <h2>Dejá tu mail para saber cuando hay cosas nuevas en copiona.com</h2>
          <div class="indicates-required"><span class="asterisk">*</span>requerido</div>
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Dirección de e-mail<span class="asterisk">*</span>
          </label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
          	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>
          	<div id="mce-responses" class="clear foot">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6cba476030b41957ed024d068_70669dfffd" tabindex="-1" value=""></div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                      </div>
                  </div>
              </div>
          </form>
    </div>
<!--End mc_embed_signup-->
  </div>
</section>
<section class="pb-48">
{% webring %}
</section>
