---
layout: default
---

<section class="container pt-97 pb-5">
  {% include navegation.html page=page %}
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.i18n.date.format | default: "%b %-d, %Y" -%}
    ~{{ page.last_modified_at | date_local: date_format }}
  </time>
  <div class="row pt-2 pb-2 m-0 no-gutters align-items-center justify-content-center">
    <div class="col">
      {{ page.content | markdownify }}
    </div>
  </div>
  {% if page.proyects %}
  <div class="row m-0 row-cols-1 row-cols-md-2 no-gutters align-items-center justify-content-center">
    {% assign proyects = page.proyects | sort: "date" | reverse  %}
    {% for proyect in proyects %}
    <div class="col">
      {% include log/cover.html proyect=proyect %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
