---
layout: default
---
<section class="container pt-97 pb-5">
  {% include navegation.html page=page %}
  <div class="row m-0 no-gutters align-items-center justify-content-center w-100 w-md-30 m-auto position-relative">
  {% include picture.html image=page.image %}
  </div>
  <div class="row m-0 no-gutters align-items-center justify-content-center pt-3">
    <div class="col-11 col-md-8 m-auto">
    {{ content | markdownify }}
    </div>
  </div>
  <div class="row m-0 no-gutters align-items-center justify-content-center">
    <div class="col-11 col-md-6">
      <code class="f-12 text-center">
        {{ page.gpg }}
      </code>
    </div>
  </div>
</section>
