---
layout: default
---
{%- assign txts = site.posts | where: 'layout', 'txt' -%}

<section class="container pt-97 pb-5">
  {% include navegation.html page=page %}
  <div class="row flex-wrap row-cols-1 row-cols-md-4 m-0 no-gutters align-items-center justify-content-center ">
  {% if post.category == nube %}
    {% for txt in txts %}
    <div class="col p-4 m-3 position-relative">
      {% include nubes.html txt=txt %}
    </div>
		{% endfor %}
  {% endif %}
  </div>
</section>
