---
layout: default
---

<section class="container content pt-97 pb-5">
  {% include_cached navegation.html page=page %}
    {% if page.image %}
      <div class="row m-0 no-gutters align-items-center justify-content-center w-80 w-md-50 m-auto mb-3 position-relative">
      {% include picture.html image=page.image %}
      </div>
    {% endif %}
  {% if page.enable_gpx_traces %}
    {% include leaflet.html gpx=page.gpx %}
  {% endif %}
    <div class="row m-0 no-gutters">
      <div class="col-md-8 col align-items-center justify-content-between">
        <div class="">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.i18n.date.format | default: "%b %-d, %Y" -%}
            ~{{ page.date | date_local: date_format }}
          </time>
        </div>
        <div class="d-flex">
        <p class="background-primary white mr-3">Tags: </p>
        {% for tag in page.tags %}
          <!--<a class="degrade" href="{{ page.tag.url }}"> {{ tag }},</a>-->
          {{ tag }}
        {% endfor %}
        </div>
      </div>
    </div>
  <div class="row pt-2 pb-2 m-0 no-gutters align-items-center justify-content-center">
    <div class="col-md-8 col background-white p-3 text-left">
      {{ page.content | markdownify }}
      {% if page.picture_multiple %}
        {% include picture_multiple.html folder=page.picture_multiple %}
      {% endif %}
    </div>
  {% if page.pgp %}
  <div class="row m-0 no-gutters align-items-center justify-content-center">
    <div class="col-11 col-md-6">
      <code class="f-12 text-center">
        {{ page.gpg }}
      </code>
    </div>
  </div>
  {% endif %}
</section>
