---
layout: default
---
{%- assign posts = site.posts | where: 'layout', 'post' | sort: 'date' | reverse -%}

<section class="container pt-97 pb-5">
  {% include navegation.html page=page active_cache_key=active %}
  <div class="row flex-wrap row-cols-1 row-cols-md-3 m-0 no-gutters align-items-center justify-content-center ">
    {% for post in posts %}
      {% if post.category == "proyectos" %}
    <div class="col p-4 m-3 border border-1  border-primary border-hover-black position-relative background-white degrade">
    <a class="black background-hover-white" href="{{ post.url }}">
      <div class="mb-3 f-16 f-md-20">
      <span>
        {{ post.title }} <i class="fa fa-bolt" aria-hidden="true"></i>
      </span>
      </div>
    </a>
      <div class="primary">
      <p>Tags:
        {% for tag in post.tags %}
          {{ tag }}
          <!--<a href="{{ tag.url }}">{{ tag }}</a>-->
        {% endfor %}
      </p>
      </div>
      <div class="position-absolute top-0 right-0 white background-primary">
      <p>{{ post.last_modified_at | date: "%Y" }}</p>
      </div>
      <div class="position-absolute bottom-0 right-0">
        <div class="d-flex align-items-center justify-content-between">
          <a class="black hover-primary" href="{{ post.url }}">
            <div class="position-relative d-flex justify-content-center align-items-center">
                {% include svg/cuadrado.svg %}
                <div class="position-absolute embed-responsive embed-responsive-1by1 d-flex align-items-center justify-content-center">
                  <object class="d-flex align-items-center justify-content-center embed-responsive-item">
                  </object>
                  <div class="text-center {{ include.color }}">
                    <i class="fa fa-link" onclick="window.print();"></i>
                  </div>
                </div>
            </div>
          </a>
        </div>
      </div>
    </div>
      {% endif %}
		{% endfor %}
  </div>
</section>
