---
layout: default
---
<section class="container pt-97 pb-5">
  {% include navegation.html page=page %}
  {% if page.image %}
    <div class="row m-0 no-gutters align-items-center justify-content-center w-100 w-md-50 m-auto position-relative">
    {% include picture.html image=page.image %}
    </div>
  {% endif %}
  <div class="row m-0 no-gutters align-items-center justify-content-center">
    {{ content | markdownify }}
  </div>
</section>
