---
layout: default
---
<section class="container pt-97">
  {% include navegation.html page=page %}
  <div class="row mt-5 no-gutters m-0 align-items-center justify-content-center">
    <div class="col-md-6 position-relative">
      <p class="primary f-18 mb-2">{{ page.title }}</p>
      <p>{{ content }}</p>
      tags:
      {% for tag in page.tags %}
      <a class="background-secondary" href="{{ tag.url }}">
        <i class="black">~{{ tag }} </i>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
