<section id="webring" class="webring container m-auto">
    <h3>Webring!</h3>
    <section class="articles">
        {% for item in webring %}
        <div class="article border border-1 border-black border-hover-primary p-2 m-2">
            <h4 class="title">
                <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.title }}</a>
            </h4>
            <p class="summary">{{ item.summary }}</p>
            <small class="source">
                via <a href="{{ item.source_url }}">{{ item.source_title }}</a>
            </small>
            <small class="date">{{ item.date }}</small>
        </div>
        {% endfor %}
    </section>
    <p>gracias a <a href="https://rubygems.org/gems/jekyll-webring">Sophie Askew</a> por portar este webring a una gem!</p>
</section>
